{{#if template}}
  <template>
    <div class='{{name}}'>
      {{name}}
    </div>
  </template>
{{/if}}

{{#if script}}
  <script lang='ts' setup>

  </script>
{{/if}}

{{#if style}}
  <style lang='scss'>

  </style>
{{/if}}