{{#if template}}
  <template>
    <div class='{{name}}'>
      {{kebabCase name}}
    </div>
  </template>
{{/if}}

{{#if script}}
  <script lang="ts">
    import {defineComponent} from "vue"
    export default defineComponent({
      name:'{{properCase name}}',
      props:{},
      setup(props){

      }
    })
  </script>
{{/if}}

{{#if style}}
  <style lang='scss' scoped>

  </style>
{{/if}}