@import './transition/index.scss';
@import './element-plus/index.scss';

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html,
body {
  height: 100vh;
  min-height: 100vh;
}

#app {
  height: 100%;
}

// ::-webkit-scrollbar-thumb {
//   width: 10px;
//   background-color: #66212197;
// }

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #eee;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee6d;
}
