@import './transition/index.scss';
@import './element-plus/index.scss';

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
}
