@import 'element-plus/theme-chalk/dark/css-vars.css';

// 黑暗模式，采用css变量覆盖
html.dark {
  --el-bg-color: black !important;
  --el-color-primary: rgb(34 77 219);

  background-color: var(--el-bg-color);
}
